<blockquote>
    <div  class="flex grap">
        <div onclick="clickcard('ur')" class="card">
            <i class="fa-solid fa-user-plus icon"></i><br>
            <small>Farmer Register</small>
        </div>

        <div onclick="clickcard('info')" class="card">
            <i class="fa-solid fa-users-gear icon"></i><br>
            <small>Farmers Info</small>
        </div>

        <div onclick="clickcard('invoice')" class="card">
            <i class="fa-solid fa-cash-register icon"></i><br>
            <small>New Invoice</small>
        </div>

        <div onclick="clickcard('invoice-manager')" class="card">
            <i class="fa-solid fa-receipt icon"></i> <br>
            <small>Invoice manager</small>
        </div>

        <div onclick="clickcard('group')" class="card">
            <i class="fa-solid fa-people-roof icon"></i><br>
            <small>Set Group</small>
        </div>

        <div onclick="clickcard('land')" class="card">
            <i class="fa-solid fa-map-location-dot icon"></i><br>
            <small>Lands List</small>
        </div>
    
        <div onclick="clickcard('admins')" class="card">
            <i class="fa-solid fa-user-tie icon"></i><br>
            <small>Admins</small>
        </div>


        <div onclick="clickcard('setting')" class="card">
            <i class="fa-solid fa-gear icon"></i> <br>
            <small>Setting</small>
        </div>



  


    </div>
    <hr>

</blockquote>