<blockquote>
    <div  class="flex grap">
        <div onclick="clickcard('ur')" class="card">
            <i class="fa-solid fa-user-plus icon"></i><br>
            <small>User Register</small>
        </div>

        <div onclick="clickcard('wr')" class="card">
            <i class="fa-solid fa-user-plus icon"></i><br>
            <small>Boss Register</small>
        </div>


        <div onclick="clickcard()" class="card">
            <i class="fa-solid fa-cash-register icon"></i><br>
            <small>POS Entry</small>
        </div>


        <div onclick="clickcard()" class="card">
            <i class="fa-solid fa-wrench icon"></i><br>
            <small>Set Poll</small>
        </div>

  


    </div>
    <hr>

</blockquote>