<div>

    <!-- Units Setting -->
    <div class='flex center' >
        <div>
            <h2>#01 Units Setting
                <hr>
            </h2>
            <main class="border tabscroll">
                <table class="minimalistBlack frmbox">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Units Name</th>
                            <th>Create_at</th>
                            <th>^^^^</th>
                        </tr>
                    </thead>
                    <tbody id='units'>
                        <tr>
                            <td colspan='4'>
                                <button onclick="apicall('/invoice/setUnit.php')" class="btn">Add New <i
                                        class="fa-solid fa-plus btnicon"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
    <!-- End The Units Setting -->

    <!--  Setting -->
    <div class='flex center'>
        <div>
            <h2>#02 Crops Setting
                <hr>
            </h2>
            <main class="border tabscroll">
                <table class="minimalistBlack frmbox">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>crops Name</th>
                            <th>Create_at</th>
                            <th>^^^^</th>
                        </tr>
                    </thead>
                    <tbody id='crops'>
                        <tr>
                            <td colspan='4'>
                                <button onclick="apicall('/invoice/setCrop.php')" class="btn">Add New <i
                                        class="fa-solid fa-plus btnicon"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
    <!-- End The Crops Setting -->
    <script>alert('ok')</script>
</div>
</section>